<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de la Página</title>
    <!-- Enlaces a hojas de estilo -->
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <!-- Contenido principal de la página -->
    {{{body}}}

    <!-- Scripts de JavaScript -->
    <script src="/js/scripts.js"></script>
</body>
</html>